# ─────────── Cartelle o file da NON caricare ───────────

# ambiente virtuale
.venv/

# impostazioni IDE
.idea/

# cache Python
__pycache__/
*.pyc

.DS_Store
.vscode/settings.json
.vscode/launch.json
.wandb/
.lightning_logs/
.lightning_profiler/
checkpoints/
ICML_2026/
runs/

lightning_logs/version_0/events.out.tfevents.1763163632.gauss.821159.0
lightning_logs/version_0/hparams.yaml
lightning_logs/version_1/events.out.tfevents.1763163810.gauss.821578.0
lightning_logs/version_1/hparams.yaml
outputs/2025-11-14/23-13-15/train.log
outputs/2025-11-14/23-13-15/.hydra/config.yaml
outputs/2025-11-14/23-13-15/.hydra/hydra.yaml
outputs/2025-11-14/23-13-15/.hydra/overrides.yaml
outputs/2025-11-15/00-38-02/train.log
outputs/2025-11-15/00-38-02/.hydra/config.yaml
outputs/2025-11-15/00-38-02/.hydra/hydra.yaml
outputs/2025-11-15/00-38-02/.hydra/overrides.yaml
outputs/2025-11-15/00-40-20/train.log
outputs/2025-11-15/00-40-20/.hydra/config.yaml
outputs/2025-11-15/00-40-20/.hydra/hydra.yaml
outputs/2025-11-15/00-40-20/.hydra/overrides.yaml
outputs/2025-11-15/00-42-42/train.log
outputs/2025-11-15/00-42-42/.hydra/config.yaml
outputs/2025-11-15/00-42-42/.hydra/hydra.yaml
outputs/2025-11-15/00-42-42/.hydra/overrides.yaml
outputs/2025-11-15/00-43-27/train.log
outputs/2025-11-15/00-43-27/.hydra/config.yaml
outputs/2025-11-15/00-43-27/.hydra/hydra.yaml
outputs/2025-11-15/00-43-27/.hydra/overrides.yaml
model_info.json
outputs/2025-11-15/00-52-51/train.log
outputs/2025-11-15/00-52-51/.hydra/config.yaml
outputs/2025-11-15/00-52-51/.hydra/hydra.yaml
outputs/2025-11-15/00-52-51/.hydra/overrides.yaml
runs/
runs/lightning_logs/version_0/events.out.tfevents.1763164374.gauss.822055.0
runs/lightning_logs/version_0/hparams.yaml
runs/train.log
runs/lightning_logs/version_0/events.out.tfevents.1763165749.gauss.825081.0
runs/lightning_logs/version_1/events.out.tfevents.1763165803.gauss.825411.0
runs/lightning_logs/version_1/hparams.yaml
runs/lightning_logs/version_2/events.out.tfevents.1763165877.gauss.825653.0
runs/lightning_logs/version_2/hparams.yaml
runs/lightning_logs/version_3/events.out.tfevents.1763167209.gauss.828259.0
runs/lightning_logs/version_3/hparams.yaml
runs/lightning_logs/version_4/events.out.tfevents.1763167256.gauss.828415.0
runs/lightning_logs/version_4/hparams.yaml
runs/lightning_logs/version_5/events.out.tfevents.1763167788.gauss.831439.0
runs/lightning_logs/version_5/hparams.yaml
runs/lightning_logs/version_6/events.out.tfevents.1763169162.gauss.832213.0
runs/lightning_logs/version_6/hparams.yaml
runs/lightning_logs/version_7/events.out.tfevents.1763169202.gauss.832368.0
runs/lightning_logs/version_7/hparams.yaml
runs/lightning_logs/version_8/events.out.tfevents.1763169769.gauss.832800.0
runs/lightning_logs/version_8/hparams.yaml
runs/wandb/debug-internal.log
runs/wandb/debug.log
runs/wandb/latest-run
runs/wandb/run-20251115_022614-6rzniurn/run-6rzniurn.wandb
runs/wandb/run-20251115_022614-6rzniurn/files/output.log
runs/wandb/run-20251115_022614-6rzniurn/files/requirements.txt
runs/wandb/run-20251115_022614-6rzniurn/files/wandb-metadata.json
runs/wandb/run-20251115_022614-6rzniurn/logs/debug-core.log
runs/wandb/run-20251115_022614-6rzniurn/logs/debug-internal.log
runs/wandb/run-20251115_022614-6rzniurn/logs/debug.log
checkpoints/epoch_004.ckpt
checkpoints/epoch_009.ckpt
checkpoints/last-v1.ckpt
checkpoints/last-v2.ckpt
checkpoints/last-v3.ckpt
checkpoints/last-v4.ckpt
checkpoints/last.ckpt
checkpoints/last-v5.ckpt
checkpoints/last.ckpt
checkpoints/last.ckpt
checkpoints/last.ckpt
checkpoints/last.ckpt
checkpoints/last.ckpt
test_model_size.py
outputs/2025-11-16/22-40-48/train.log
outputs/2025-11-16/22-40-48/.hydra/config.yaml
outputs/2025-11-16/22-40-48/.hydra/hydra.yaml
outputs/2025-11-16/22-40-48/.hydra/overrides.yaml
outputs/2025-11-16/22-41-10/train.log
outputs/2025-11-16/22-41-10/.hydra/config.yaml
outputs/2025-11-16/22-41-10/.hydra/hydra.yaml
outputs/2025-11-16/22-41-10/.hydra/overrides.yaml
